* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

/* for id */
#section_text_2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_text_2 .alpha {
  float: left;
  width: 50%;
  position: relative;
  top: 3px;
}

#section_text_2 .alpha img {
  width: 170px;
}
#section_text_2 .omega {
  float: right;
  text-align: end;
  width: 50%;
  position: relative;
  top: 11px;
}

#section_text_2 .omega a {
  text-decoration: none;
}

#section_header_1 {
  height: 80px;
}

#section_header_1 .right_socials {
  float: right;
  width: 50%;
  position: relative;
  top: 32px;
  right: -495px;
}

#section_header_1 .right_socials ul {
  list-style-type: none;
  display: flex;
  width: fit-content;
  gap: 20px;
}

#section_header_1 .right_socials ul li svg {
  font-size: 25px;
}

#section_header_1 .navbar-collapse {
  float: left;
  width: 50%;
  position: relative;
  top: 33px;
}

#section_header_1 .navbar-collapse a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: 700;
}

#section_header_1 ul {
  list-style-type: none;
  display: flex;
  width: fit-content;
  gap: 40px;
}

#section_slider {
  background-color: #eeeeee;
}

/* section chua img */
#section_slider .carousel-inner {
  display: flex;
  padding: 50px;
  overflow: hidden;
  color: white;
}

#section_slider .carousel-inner img {
  width: 1200px;
  position: relative;
  left: -51.5px;
  top: 34px;
  overflow: hidden;
}

#section_slider .carousel-inner .editContent {
  position: relative;
  bottom: 80px;
}
#section_slider .carousel-inner .editContent h3 {
  font-size: 30px;
}

#section_slider .carousel-inner .editContent p {
  font-size: 20px;
}

#section_gym_4 .top_padding {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#section_gym_4 .part_st a {
  padding: 15px 33px;
  text-align: center;
  background-color: #f77825;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

#section_gym_4 .part_st a:hover {
  background-color: #ef955a; /* Màu nền khi hover */
}

#section_intro_title .container {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#section_intro_title .flat_pricing {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#section_intro_title .flat_pricing p strong {
  position: relative;
  top: -35px;
}

#section_intro_title .flat_pricing ul li {
  padding: 13px;
}

#section_intro_title .flat_pricing ul li span {
  font-size: 18px;
}

#section_intro_title .flat_pricing a {
  padding: 15px;
  text-align: center;
  background-color: #f77825;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

#section_intro_title .flat_pricing a span {
  font-size: 18px;
}

#section_intro_title .one-third {
  background-color: white;
  padding: 83px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

#section_party_3 {
  background-color: #191919;
}

#section_party_3 .sixteen {
  height: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_party_3 .sixteen .text_input {
  width: 550px;
  height: 550px;
  background-color: #151515;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border: 0.1px solid white;
}

#section_party_3 .sixteen .text_input .editContent span {
  color: white;
  font-size: 36px;
}

#section_party_3 .sixteen .text_input .segment {
  background-color: #1c8ff5;
  padding: 4px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

#contact_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#contact_form input,
#contact_form button {
  width: 520px;
  height: 55px;
  text-align: left;
  border-radius: 5px;
}

#contact_form button {
  text-align: center;
  color: white;
  background-color: #2678e7;
}

#contact_form button span {
  font-size: 18px;
  font-weight: 500;
}

#contact_form input {
  font-size: 17px;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 20px;
}

#section_party_4 {
  background-color: #151515;
  color: white;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_party_4 .sixteen .alpha {
  float: left;
  width: 50%;
  margin-top: 21px;
}

#section_party_4 .sixteen .omega {
  float: right;
  width: 50%;
  margin-top: 21px;
}

#section_party_4 .sixteen .omega .bottom-icons {
  list-style-type: none;
  display: flex;
  float: right;
  gap: 20px;
  position: relative;
  right: 100px;
}

#section_party_4 .sixteen .omega .bottom-icons svg {
  font-size: 25px;
  position: relative;
  top: -5px;
}

/* for class */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.light_gray_bg {
  background-color: #f3f3f3;
}

.bold_text {
  font-weight: bold;
}

.small_wide_button {
  padding: 15px 20px;
  text-align: center;
  background-color: #f77825;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.small_wide_button:hover {
  background-color: #ef955a; /* Màu nền khi hover */
}

.light_gray,
.normal_gray {
  color: grey;
}

.light_gray strong {
  font-size: 18px;
  position: relative;
  bottom: -10px;
}

.logo_style {
  border-radius: 100%;
  width: 270px;
}

.part_st {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.gym_st {
  font-weight: bolder;
  text-align: center;
  position: relative;
  top: -15px;
}

.gym_st span {
  font-size: 24px;
}

.gym_text span {
  font-size: 20px;
}
.gym_text {
  position: relative;
  left: 3.5px;
  color: #bdb6b6;
}

.flat_pricing_list {
  list-style-type: none;
}

.big_title strong {
  font-size: 60px;
}

.blue_text strong {
  color: #5dceed;
}

.active_bg_open.blue_bg {
  background-color: #5dceed !important;
}

.subtext_style {
  font-size: 28px;
  color: #808076;
}

.pixfort_st {
  color: #1c8ff5;
  font-weight: bolder;
  font-size: 17px;
}

.rights_st,
.likes_st .pix_text {
  color: #a9a9a9;
}
